<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moneycontrol API</title>
</head>
<body style="background-color: grey">
<h1 style="text-align: center"> Server <span style="color: lawngreen">OK!</span></h1>
<h2>Please see the GitHub project for more information this is just a status page.</h2>

<footer style="display:flex;flex-direction:column;position:fixed;bottom: 0; width: 100%">
    <span style="text-align: center">
        Project made by Arabian Coconut see <a style="color: lawngreen" href="https://github.com/ArabianCoconut/Moneycontrol_api/tree/main">project link</a>
    </span>

</footer>
</body>
</html>